<div class="form-group">
    <label for="Kills">Kills:</label>
    <input class="form-input" type="number" id="apex-kills" name="apex-kills" />
</div>
<div class="form-group">
    <label for="wins">Wins:</label>
    <input class="form-input" type="number" id="apex-wins" name="apex-wins" />
</div>
<div class="form-group">
    <label for="matches-played">Matches Played:</label>
    <input class="form-input" type="number" id="apex-matches-played" name="apex-matches-played" />
</div>