<div class="form-group">
    <label for="Kills">Kills:</label>
    <input class="form-input" type="number" id="kills" name="wins" />
</div>
<div class="form-group">
    <label for="wins">Wins:</label>
    <input class="form-input" type="number" id="wins" name="wins" />
</div>
<div class="form-group">
    <label for="matches-played">Matches Played:</label>
    <input class="form-input" type="number" id="matches-played" name="matches-played" />
</div>