<div class="form-group mb-3">
    <label for="kills" class="col-sm-4 col-form-label custom-label">Kills:</label>
    <input class="form-input col-sm-6" type="number" id="battle-r-kills" name="battle-r-kills" />
</div>
<div class="form-group mb-3">
    <label for="wins" class="col-sm-4 col-form-label custom-label">Wins:</label>
    <input class="form-input col-sm-6" type="number" id="battle-r-wins" name="battle-r-wins" />
</div>
<div class="form-group mb-3">
    <label for="matches-played" class="col-sm-4 col-form-label custom-label">Matches Played:</label>
    <input class="form-input col-sm-6" type="number" id="battle-r-matches-played" name="battle-r-matches-played" />
</div>