<div class="form-group">
    <label for="Kills">Kills:</label>
    <input class="form-input" type="number" id="battle-r-kills" name="battle-r-kills" />
</div>
<div class="form-group">
    <label for="wins">Wins:</label>
    <input class="form-input" type="number" id="battle-r-wins" name="battle-r-wins" />
</div>
<div class="form-group">
    <label for="matches-played">Matches Played:</label>
    <input class="form-input" type="number" id="battle-r-matches-played" name="battle-r-matches-played" />
</div>