<div class="form-group">
    <label for="Kills">Beat Downs:</label>
    <input class="form-input" type="number" id="kills" name="kills" />
</div>
<div class="form-group">
    <label for="wins">Chicken Dinners, but not for PUBG:</label>
    <input class="form-input" type="number" id="wins" name="wins" />
</div>
<div class="form-group">
    <label for="matches-played">Number of party times:</label>
    <input class="form-input" type="number" id="matches-played" name="matches-played" />
</div>