<div class="form-group">
    <label for="Kills">Eliminations:</label>
    <input class="form-input" type="number" id="hyperscape-kills" name="hyperscape-kills" />
</div>
<div class="form-group">
    <label for="wins">Victories:</label>
    <input class="form-input" type="number" id="hyperscape-wins" name="hyperscape-wins" />
</div>
<div class="form-group">
    <label for="matches-played">Rounds fought:</label>
    <input class="form-input" type="number" id="hyperscape-matches-played" name="hyperscape-matches-played" />
</div>