<div class="form-group mb-3">
    <label for="kills" class="col-sm-4 col-form-label custom-label">Kills:</label>
    <input class="form-input col-sm-6" type="number" id="shooter-kills" name="shooter-kills" />
</div>
<div class="form-group mb-3">
    <label for="deaths" class="col-sm-4 col-form-label custom-label">Deaths:</label>
    <input class="form-input col-sm-6" type="number" id="shooter-deaths" name="shooter-deaths" />
</div>
<div class="form-group mb-3">
    <label for="assists" class="col-sm-4 col-form-label custom-label">Assists:</label>
    <input class="form-input col-sm-6" type="number" id="shooter-assist" name="shooter-assist" />
</div>