<div class="form-group">
    <label for="kills">Kills:</label>
    <input class="form-input" type="number" id="shooter-kills" name="shooter-kills" />
</div>
<div class="form-group">
    <label for="deaths">Deaths:</label>
    <input class="form-input" type="number" id="shooter-deaths" name="shooter-deaths" />
</div>
<div class="form-group">
    <label for="assists">Assists:</label>
    <input class="form-input" type="number" id="shooter-assist" name="shooter-assist" />
</div>