<div class="form-group mb-3">
    <label for="Agent" class="col-sm-4 col-form-label custom-label">Agent:</label>
    <select class="form-input col-sm-6" id="valorant-agent" name="valorant-agent">
    <option value="None">Choose Agent</option>
    <option value="Astra">Astra</option>
    <option value="Breach">Breach</option>
    <option value="Brimstone">Brimstone</option>
    <option value="Cypher">Cypher</option>
    <option value="Jett">Jett</option>
    <option value="Killjoy">Killjoy</option>
    <option value="Omen">Omen</option>
    <option value="Phoenix">Phoenix</option>
    <option value="Raze">Raze</option>
    <option value="Reyna">Reyna</option>
    <option value="Sage">Sage</option>
    <option value="Skye">Skye</option>
    <option value="Sova">Sova</option>
    <option value="Viper">Viper</option>
    <option value="Yoru">Yoru</option>
    </select>
</div>
<div class="form-group mb-3">
    <label for="Kklls" class="col-sm-4 col-form-label custom-label">Kills:</label>
    <input class="form-input col-sm-6" type="number" id="valorant-kills" name="valorant-kills" />
</div>
<div class="form-group mb-3">
    <label for="deaths" class="col-sm-4 col-form-label custom-label">Deaths:</label>
    <input class="form-input col-sm-6" type="number" id="valorant-deaths" name="valorant-deaths" />
</div>
<div class="form-group mb-3">
    <label for="assists" class="col-sm-4 col-form-label custom-label">Assists:</label>
    <input class="form-input col-sm-6" type="number" id="valorant-assist" name="valorant-assist" />
</div>
<div class="form-group mb-3">
    <label for="game_count" class="col-sm-4 col-form-label custom-label">Game Count:</label>
    <input class="form-input col-sm-6" type="number" id="valorant-game-count" name="valorant-game-count" />
</div>