<div class="block col-md-8">
    <div class="welcome">
        <h2>
            Make a game request, and we will try to add it to our options
        </h2>
    </div>

    <form class="request-form form login-form">
        <div class="form-group mb-3">
            <label for="game-request" class="col-sm-2-col-form-label custom-label">Game Request:</label>
            <input class="form-input col-sm-4" type="text" id="game-request" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<script src="./js/request.js"></script>
