a:link {
   color: red;
}

a:visited {
    color: orange;
}

.custom-header {
    display: flex;
    flex-direction: column;
    min-height: 206px !important;
    max-width: 1140px;
    min-width: 1140px;
    /* background-color: black; */
    color: white;
    background-image: url("../css/images/trackerLogoWide.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

nav {
    text-align: center;
    font-size: x-large;
    background-color: rgba(100, 100, 100, .8);
    margin: 0% 5%;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: orange;
    text-decoration: underline;
    font-size: 100%;
}
  
.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

body {
    background-image: url("../css/images/place-detail-map3.jpg");
}


.block {
    background-color: rgb(245, 135, 39);
    color: white;
    margin: 2% 5%;
    text-align: center;
    padding: 2%;
}

.welcome {
    text-align: center;
}

.battle-r-block {
    background-color: rgba(300, 0, 0, .5);

}

.shooter-block{
    background-color: rgba(0, 0, 300, .5);
}

.valorant-block {
    background-color: rgba(0, 300, 0, 0.5);
}

footer {
    text-align: center;
    background-color: rgb(0, 150, 150);
    margin-left: 5%;
    margin-right: 5%;
}

