/* Unvisited links are red */
a:link {
   color: red;
}

/* Visited links are orange */
a:visited {
    color: orange;
}

.custom-header {
    display: flex;
    flex-direction: column;
    min-height: 206px !important;
    max-width: 1140px;
    min-width: 1140px;
    color: white;
    background-image: url("../css/images/trackerLogoWide.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

nav {
    text-align: center;
    font-size: x-large;
    background-color: rgba(100, 100, 100, .8);
    margin: 0% 2%;
    max-height: 60px;
    top: 100px;
}




/* Logout button does not look like a button.
Mimics general link appearance */

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: orange;
    text-decoration: underline;
    font-size: 100%;
}
  
.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

body {
    background-image: url("../css/images/place-detail-map3.jpg");
}

.profile-body {
    color: white;
}

/* Main section formatting 
Login, logout, add new stats, submit requests*/
.block {
    background-color: rgb(245, 135, 39);
    color: white;
    margin: 2% auto;
    text-align: center;
    padding: 2%;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
}

/* Set font size on submission forms */
.custom-label {
    font-size: 24px;
}

.welcome {
    text-align: center;
}

.battle-r-statz {
    text-align: center;
    background-color: tan;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    max-width: 600px;
}

.battle-r-block {
    background-color: rgb(150, 150, 0);
    border-radius: 25px;
}

.shooter-statz {
    text-align: center;
    background-color: tan;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    max-width: 600px;
}

.shooter-block{
    background-color: rgb(150, 0, 150);
    border-radius: 25px;
}

.valorant-statz {
    text-align: center;
    background-color: tan;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    max-width: 600px;
}

.valorant-block {
    background-color: rgb(0, 150, 150);
    border-radius: 25px;
}


.game-title {
    font-size: 100px;
    color: white;
}
/* button{
    display: block;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
  }
  
  a:hover{
    letter-spacing: 15px;
  }
   */



.cssbtn {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .cssbtn{
    cursor: pointer;
    /* display: inline-block; */
    position: relative;
    transition: 0.5s;
  }
  
  .cssbtn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .cssbtn:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .cssbtn:hover:after {
    opacity: 1;
    right: 10px;
  }



footer {
    text-align: center;
    background-color: rgb(0, 150, 150);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 0% 3%;
}

